.i18n_border{
    border: 1px black solid;
    padding: 0px 5px 0px 5px;
    font-size: 12px;
}
.i18n_textleft{
    text-align: left;
}
.i18n_textright{
    text-align: right;
}
.i18n_textcenter{
    text-align: center;
}
.i18n_th{
    background-color: darkgrey;
    font-size: 14px;
}

.i18n_border textarea{
    width: 350px;
    height: 100px;
}

.i18n_border input{
    width: 350px;
}

.i18n_info {
    background-color: greenyellow;
}

.i18n_warn {
    background-color: gold;
}

.i18n_a a {
    background-color: #f16529;
    border: 0px;
    color: #ffffff;
    text-decoration: none;
    padding: 3px 8px 3px 8px;
    font-size: 10px;
    font-weight: bold;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    min-width: 35px;
    text-align: center;
}